<main>
    <div class="container">
        <div class="jumbotron text-center mt-5">
            <h2 class="lead display-6" style="font-weight: bold;">{{faculty}} Faculty</h2>
        </div>
        <div class="row">
            <div class="col-md-6">
                <p>Select a parking area:</p>
                <img src="files\ECE_faculty.jpg" id="ECE_faculty" alt="ECE Faculty" class="img-fluid">
            </div>
            <div class="col-md-6">
                <form>
                    <div class="form-group">
                        <select id="parkingArea" name="parkingArea" class="form-control" required>
                            <option value="1">Area 1</option>
                            <option value="2">Area 2</option>
                            <option value="3">Area 3</option>
                        </select>
                    </div>
                    <a href="/home_area" class="btn btn-success mt-3">Continue</button>
                </form>
            </div>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.7/handlebars.min.js"></script>
    
</main>   