<main>
    <div class="container">
        <!-- Welcome Section -->
        <div class="jumbotron text-center mt-5">
            <h2 class="lead display-6" style="font-weight: bold;">Book Now!</h2>
        </div>

        <!-- Date, Time, Parking Site Selection Form -->
        <!-- home.hbs -->

<form method="post" action="/home/submit-form">
    <div class="form-group mb-3">
        <label for="facultySelect">Select Parking Site:</label>
        <select class="form-control" id="facultySelect" name="selectedSite" required>
            <option value="" selected disabled hidden></option>
            
            {{#each parkingSiteNames}}
                <option value="{{this.name}}">{{this.name}}</option>
            {{/each}}
            
        </select>
    </div>

    <div class="form-group mb-3">
        <label for="datePicker">Select Date:</label>
        <input type="date" class="form-control" id="datePicker" name="selectedDate" required>
    </div>

    <div class="form-group mb-3">
        <label for="timePicker">Select Time:</label>
        <input type="time" class="form-control" id="timePicker" name="selectedTime" required>
    </div>

    <div class="text-center">
        <button type="submit" class="btn btn-success">Continue</button>
    </div>
</form>


    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.7/handlebars.min.js"></script>
    
</main>   