body{
    background-color: #d3f9d8;
}

@media (max-width: 768px) {
    #SmartSpotLogo {
        width: 100px; 
    }
}

.custom-img-size {
    max-width: 100%; /* Ensures the image doesn't exceed the column width */
    height: auto;    /* Allows the image to scale proportionally */
    width: 160px;
  }